* {
  box-sizing: border-box
}
.icon {
  width: 40px; height: 40px;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}
#app>.chooseLevel {
  margin: 30px;
}
#app>.chooseLevel #level {
  padding: 2px;
}
#app>.container>.row {
  display: flex;
}
.container>.row>.item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}
@media (max-width: 400px) {
  .container>.row>.item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
  }
}